*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.oneclass{
    display: grid;
    gap: 20px;
    grid-template-columns:1fr 2fr 1fr;
    background-color:red;
}
.oneclass div{
    background-color: blue;
    margin: 10px;
    margin-bottom: 70px;
    padding: 10px 20px;
    
}

.div1 p{
    margin-bottom: 100px;
    background-color: bisque;
    
}

.div2{
    padding: 30px 30px;
}   